@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    /* Background image by SVGBackgrounds.com */
    background-color: #09090b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2309090B' cx='50' cy='0' r='50'/%3E%3Cg fill='%230b0b0d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d0d0f' cx='50' cy='100' r='50'/%3E%3Cg fill='%230f0f11' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111113' cx='50' cy='200' r='50'/%3E%3Cg fill='%23131314' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141416' cx='50' cy='300' r='50'/%3E%3Cg fill='%23161617' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23171719' cx='50' cy='400' r='50'/%3E%3Cg fill='%2318181a' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%231a1a1c' cx='50' cy='500' r='50'/%3E%3Cg fill='%231b1b1d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231c1c1e' cx='50' cy='600' r='50'/%3E%3Cg fill='%231e1e20' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f1f21' cx='50' cy='700' r='50'/%3E%3Cg fill='%23202023' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222224' cx='50' cy='800' r='50'/%3E%3Cg fill='%23232326' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23242427' cx='50' cy='900' r='50'/%3E%3Cg fill='%23262629' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2327272A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
